.Footer-Controller {
    background-color: rgb(45, 51, 59);
    z-index: 32;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
    height: 50px;
}

#volume {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

HTML CSS Result Skip Results Iframe EDIT ON input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #4089e9;
    border-radius: 30px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #ffffff;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

